node_modules
.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
assets/videos
!node_modules/esbuild
**/*.js.map
scripts/**
.vscode-test.mjs
**/*.ts
**/tsconfig.*
**/eslint.config.*
example/**
src/**
utils/**
.gitattributes
jsconfig.json
.prettier*